######### L2 GETH VARS #########
CHAIN_ID=420
NETWORK_ID=420
DEV=false
DATADIR=/root/.ethereum
RPC_ENABLE=true
RPC_ADDR=0.0.0.0
RPC_CORS_DOMAIN='*'
RPC_VHOSTS='*'
RPC_PORT=8545
WS=true
WS_ADDR=0.0.0.0
IPC_DISABLE=true
TARGET_GAS_LIMIT=9000000
RPC_API='eth,net,rollup,web3'
WS_API='eth,net,rollup,web3'
WS_ORIGINS='*'
GASPRICE=0
NO_USB=true
GCMODE=archive
NO_DISCOVER=true

USING_OVM='true'

ETH1_SYNC_SERVICE_ENABLE=true
ETH1_CTC_DEPLOYMENT_HEIGHT=8
ETH1_HTTP={L1_WEB3_URL}
ETH1_CONFIRMATION_DEPTH=0
ROLLUP_CLIENT_HTTP={DTL_URL}
ROLLUP_POLL_INTERVAL_FLAG=15s

# data transport layer
DATA_TRANSPORT_LAYER__DB_PATH=/db
DATA_TRANSPORT_LAYER__SERVER_PORT=7878
DATA_TRANSPORT_LAYER__L1_RPC_ENDPOINT={L1_WEB3_URL}
DATA_TRANSPORT_LAYER__CONFIRMATIONS=0
DATA_TRANSPORT_LAYER__POLLING_INTERVAL=500
DATA_TRANSPORT_LAYER__LOGS_PER_POLLING_INTERVAL=2000
DATA_TRANSPORT_LAYER__DANGEROUSLY_CATCH_ALL_ERRORS=true
DATA_TRANSPORT_LAYER__SERVER_HOSTNAME=0.0.0.0

# used by deployer
HARDHAT=true
FRAUD_PROOF_WINDOW_SECONDS=0

######### Batch Submitter #########
# Logging
DEBUG=info*,error*,warn*,debug*
# keys are derived from the mnemonic above
DEPLOYER_PRIVATE_KEY={DEPLOYER_PK}
SEQUENCER_PRIVATE_KEY={SEQUENCER_PK}
TX_INGESTION_SIGNER_KEY={SEQUENCER_SK}
TX_INGESTION_SIGNER_ADDRESS={SEQUENCER_ADDR}
MAX_TX_SIZE=90000
MIN_TX_SIZE=0
MAX_BATCH_SIZE=50
POLL_INTERVAL=15000
NUM_CONFIRMATIONS=0
RESUBMISSION_TIMEOUT=1000000
FINALITY_CONFIRMATIONS=0
RUN_TX_BATCH_SUBMITTER=true
RUN_STATE_BATCH_SUBMITTER=true
MAX_BATCH_SUBMISSION_TIME=0
SAFE_MINIMUM_ETHER_BALANCE=0
CLEAR_PENDING_TXS=false

L1_NODE_WEB3_URL={L1_WEB3_URL}
L2_NODE_WEB3_URL={L2_WEB3_URL}
